body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #0079d3;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
    padding: 10px 0;
}

#actions {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #ff5714;
}

.error {
    color: red;
    margin-left: 10px;
}

.success {
    color: green;
    margin-left: 10px;
    font-weight: bold;
}
